@use '../../../../styles/mixins';
@import '../../../../styles/styles.scss';

.imagesModal{
  position: fixed;
  z-index: 9999;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: auto;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.808);

  .modalImage{
    padding: 10px;
    // max-height: 400px;
  }
  .row{
    height: fit-content;
  }
}