@use '../../../../styles/mixins';
@import '../../../../styles/styles.scss';

.imagesModal{
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.808);
  cursor: pointer;

  .modalImage{
    padding: 10px;
    // max-height: 400px;
  }
  .row{
    height: fit-content;
  }
  
  // Ensure content doesn't take full space
  .d-flex {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    cursor: default;
  }
}