
// Variables
$light: #fff;
$white: #fff;
$primary-color: #B5965F; //used as highlight for certain text and icons, needs to have contrast with the
$pripmary-darker: #b48203; //not sure
$primary-bg: #F5F2E9; //background
$border-color:rgba(255, 0, 0, 0.07); //not sure
$black: #c90000; //not sure
$section-bg : #F5F2E9; //background for get in touch
$primary-font: 'Quattrocento Sans', sans-serif;
$secondary-font: 'Anaheim', sans-serif;
$icon-font: 'themefisher-font';