@use '../../../styles/mixins';
@import  '../../../styles//styles.scss';

/* Homes grid layout */
.homes-grid {
  display: grid;
  gap: 30px;
  justify-items: center;
  justify-content: center;
  width: 100%;
  
  /* Default: auto-fit columns that expand to fill space */
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  
  /* Extra large screens */
  @media (min-width: 1200px) {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    max-width: 1400px;
    margin: 0 auto;
  }
  
  /* Medium screens: 2 columns */
  @media (min-width: 768px) and (max-width: 991.98px) {
    grid-template-columns: repeat(2, 1fr);
    
    /* Center the 3rd item if only 3 items */
    .home-card-item:nth-child(3):last-child {
      grid-column: 1 / -1;
      justify-self: center;
      max-width: 50%;
    }
  }
  
  /* Small screens: 2 columns */
  @media (min-width: 576px) and (max-width: 767.98px) {
    grid-template-columns: repeat(2, 1fr);
    
    .home-card-item:nth-child(3):last-child {
      grid-column: 1 / -1;
      justify-self: center;
      max-width: 50%;
    }
  }
  
  /* Extra small screens: 1 column */
  @media (max-width: 575.98px) {
    grid-template-columns: 1fr;
  }
}

/* Checkered layout for exactly 5 items */
.homes-grid--five {
  @media (min-width: 992px) {
    grid-template-columns: repeat(6, 1fr);
    
    .home-card-item:nth-child(1) {
      grid-column: 1 / 3;
      grid-row: 1;
    }
    
    .home-card-item:nth-child(2) {
      grid-column: 3 / 5;
      grid-row: 1;
    }
    
    .home-card-item:nth-child(3) {
      grid-column: 5 / 7;
      grid-row: 1;
    }
    
    .home-card-item:nth-child(4) {
      grid-column: 2 / 4;
      grid-row: 2;
    }
    
    .home-card-item:nth-child(5) {
      grid-column: 4 / 6;
      grid-row: 2;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991.98px) {
    grid-template-columns: repeat(2, 1fr);
    
    .home-card-item:nth-child(5) {
      grid-column: 1 / -1;
      justify-self: center;
      max-width: 50%;
    }
  }
}

.home-card-item {
  width: 100%;
  max-width: 350px;
}

.about .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about .col-lg-3,
.about .col-md-6,
.about .col-sm-6,
.about .col-xs-12 {
  display: flex;
  justify-content: center;
}

.about {
    .block {
      background:#242930;
      padding:30px;
      border-bottom:2px solid transparent;
      transition: .5s all;
      margin-bottom:20px;
      position: relative;
      z-index: 1;
      &:hover {
        border-bottom:2px solid $primary-color;
      }
      &:hover .icon-box {
        transform: translateY(-10px);
      }
      .icon-box {
        position: relative;
        width: 160px; 
        height: 92.38px;
        background-color: transparent;
        margin: 46.19px auto 60px;
        padding: 20px 0;
        border-left: 2px solid $border-color;
        border-right: 2px solid $border-color;
        font-size: 50px;
        transform: translateZ(0px);
        transition-duration: 0.3s;
        transition-property: transform;
        &:after, &:before {
          content: "";
          position: absolute;
          z-index: 1;
          width: 113.14px;
          height: 113.14px;
          background-color: inherit;
          left: 20.4315px;
          transform: scaleY(0.5774) rotate(-45deg);
        }
        &:before {
          top: -56.5685px;
          border-top: 2px solid rgba(236, 239, 241, 0.07);
          border-right: 2px solid rgba(236, 239, 241, 0.07);
        }
        &:after {
          bottom: -56.5685px;
          border-bottom: 2px solid rgba(236, 239, 241, 0.07);
          border-left: 2px solid rgba(236, 239, 241, 0.07);
        }
        h3 {
          color:#afbac4;
        }
  
      }
      
    }
    
  }
  
  
  
  
  /*=================================================================
    About us 2 section
  ==================================================================*/
  .about-2 {
    .content-block {
      padding:40px;
      .media {
        .pull-left {
          padding-right:15px;
        }
        margin-top:25px;
        i {
          font-size:30px;
          color:$primary-color;
        }
        h4 {
          font-size:16px;
          font-weight: 600; 
        } 
      }
    }
  }
  