@use '../../styles/mixins';
@import  '../../styles//styles.scss';


.iconContainer{
    // background-color: rgb(80, 26, 26);
    text-align: center;
    width: 200px;
    height: 100px;
    font-size: 20px;
    color:  $kalawala-text-gray;
    padding: 10px;
    
    // Mobile responsive - smaller container and centered
    @include mixins.mobile {
        width: 120px;
        height: 80px;
        font-size: 16px;
        padding: 8px;
        margin: 0 auto; // Center the icon container
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
