@use '../../styles/mixins';
@import  '../../styles/styles.scss';

.navigation {
  width: 100%;
  z-index: 99;
  margin-bottom: 0;
  padding:10px;

  &.navbar{
    border-radius: 0;
  }  

  .container {
    margin-right: auto;
    margin-left: auto;
  }
  .navMenu{
    .navText {
      font-size: 16px;
      color: $kalawala-text-gray;
      color: var(--kalawala-light-cream); /* Color del texto principal */
      text-shadow: 1px 1px 2px var(--kalawala-darker-green); /* Sombra de texto */
      &.active {
        color: $primary-color;
      }
      &:hover {
        color: $primary-color;
      }
    }
  }
}



